<%- include('../partials/header'); %>

<div class="deck-header">
    <div class="deck-image-container">
        <img data-bind="attr: {src: image}"/>
        <div class="image-overlay"></div>
    </div>
    <div class="deck-text">
        <h2 data-bind="text: name"></h2>
        <p data-bind="text: format"></p>
        <p><a class="edit-btn" data-bind="click: toggleShowEdit">Edit</a></p>
    </div>
    <div class="header-overlay" data-bind="style: { background: colorGradient}"></div>
</div>

<div class="deckDetailsEdit" data-bind="visible: showEdit">
    <p>Deck Name: <input class="jsDeckName" data-bind="value: tempName" /></p>
    <p>Format: <select class="jsFormat" data-bind="value: tempFormat">
        <option value="EDH/Commander">EDH/Commander</option>
        <option value="Standard">Standard</option>
        <option value="Modern">Modern</option>
    </select></p>
    <p>Color: <input type="color" class="jsColor" data-bind="value: tempColor"></p>
    <p>Deck Image Url: <input class="jsImage" data-bind="value: tempImage" /></p>

    <button data-bind="click: editDetails">Save</button>
    <button data-bind="click: toggleShowEdit">Cancel</button>
</div>

<main>
    <form class="autocomplete jsAddCardForm" autocomplete="OFF">
        <input id="jsCardInput" class="card-input" type="text" name="name" placeholder="Card Name" data-bind="event: { keyup: enteredName }">
        <button class="card-add-btn" data-bind="click: addCard">Add Card</button>
    </form>
    
    <a class="mass-add-link" href="<%= baseUrl %>/deck/massadd/<%= deckId %>">Mass Add</a>

    <div class="deck-sort-options">
        <label>Sort By: </label>
        <select class="jsSort" data-bind="value: sortType, event:{change: sortChanged }">
            <option value="type">type</option>
            <option value="cmc">cmc</option>
            <option value="color">color</option>
        </select>

        <label for="overlapCheckbox" class="checkbox-label">
            <input id="overlapCheckbox" type="checkbox" data-bind="checked: overlapCategories, click: sortChanged">
            <span>Overlap Categories: </span>
        </label>
    </div>

    <div class="deck-action-options">
        <select class="jsCardAction">
            <option value="remove">Delete</option>
            <option value="move">Move to Maybeboard</option>
            <option value="cut">Mark as Cuttable</option>
            <option value="buy">Mark as Not Owned</option>
        </select>   
        <button data-bind="click: editCards">Go!</button> 
    </div>

    <div class="card-list-wrapper" data-bind="foreach: sortedCards">
        <div class="card-list-section">
            <h3 class="card-list-subtitle" data-bind="text: subtitle"></h3>
            <div class="card-list" data-bind="foreach: cards">
                <div class="card-row" data-bind="class: id">
                    <div>
                        <!-- should find a way to save checked state -->
                        <label class="checkbox-label">
                            <input type="checkbox" class="cardCheckbox" data-bind="value: id">
                            <span></span>
                        </label>
                    </div>
                    <div class="card-amount-btns">
                        <button class="increase-button" data-bind="click: $root.increaseCard"></button>
                        <button class="decrease-button" data-bind="click: $root.decreaseCard"></button>
                    </div>
                    <div class="card-amount">
                        <p><span data-bind="text: amount"></span>x</p>
                    </div>
                    <div class="card-name">
                        <p data-bind="text: name"></p>
                    </div>
                    <div>
                        <button class="card-cut-button" data-bind="click: $root.changeCut, css: { flagged: cut }"></button>
                        <button class="card-buy-button" data-bind="click: $root.changeBuy, css: { flagged: buy }"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="maybeboard-subtitle">Maybeboard</h3>

    <div class="deck-action-options">
        <select class="jsMaybeCardAction">
            <option value="remove">Delete</option>
            <option value="move">Move to Main Board</option>
            <option value="buy">Mark as Not Owned</option>
        </select>   
        <button data-bind="click: editMaybeCards">Go!</button> 
    </div>

    <div class="maybe-board-wrapper" data-bind="foreach: maybeCards">
        <div class="card" data-bind="class: id">
            <label class="checkbox-label">
                <input type="checkbox" class="maybeCardCheckbox" data-bind="value: id">
                <span></span>
            </label>
            <p class="card-name" data-bind="text: name"></p>
            <button class="card-trash-button" data-bind="click: $root.removeCard"></button>
            <button class="card-buy-button" data-bind="click: $root.changeBuy, css: { flagged: buy }"></button>
        </div>
    </div>
</main>

<script src="/scripts/autocomplete.js"></script>
<script src="/bulkData/cardsList.js"></script>
<script>
	autocomplete(document.getElementById("jsCardInput"), data);
</script>

<script src="/scripts/knockout-3.5.1.js"></script>
<script src="/scripts/deck-actions.js"></script>

<%- include('../partials/footer'); %>