<%- include('../partials/header'); %>

<div class="deckDetails">
    <p data-bind="text: name"></p>
    <p data-bind="text: format"></p>
    <!-- <div style="width:15px;height:15px;background-color:deck.color>;"></div> -->
</div>

<div class="deckDetailsEdit">
    <p>Deck Name: <input class="jsDeckName" data-bind="attr: {placeholder: name}" /></p>
    <p>Format: <select class="jsFormat">
        <option data-bind="value: format, text: format"></option>
        <option data-bind="hidden: format() == 'EDH/Commander'" value="EDH/Commander">EDH/Commander</option>
        <option data-bind="hidden: format() == 'Standard'" value="Standard">Standard</option>
        <option data-bind="hidden: format() == 'Modern'" value="Modern">Modern</option>
    </select></p>

    <button data-bind="click: editDetails">Save</button>
    <button data-bind="click: cancelEditDetails">Cancel</button>
</div>

<form class="autocomplete jsAddCardForm" autocomplete="OFF">
    <input id="jsCardInput" type="text" name="name" placeholder="Card Name" data-bind="event: { keyup: enteredName }">
    <button data-bind="click: addCard">Add Card</button>
</form>

<select class="jsCardAction">
    <option value="remove">Delete</option>
    <option value="move">Move to Maybeboard</option>
    <option value="cut">Mark as Cuttable</option>
    <option value="buy">Mark as Not Owned</option>
</select>   
<button data-bind="click: editCards">Go!</button> 
<table>
	<tbody data-bind="foreach: cards">
		<tr data-bind="class: id">
			<td><input type="checkbox" class="cardCheckbox" data-bind="value: id"></td>
			<td>
                <button data-bind="click: $root.increaseCard">+</button>
                <span data-bind="text: amount"></span>
                <button data-bind="click: $root.decreaseCard">-</button>
            </td>
			<td data-bind="text: name"></td>
			<td>
				<span data-bind="text: cut"></span>
				<span data-bind="text: buy"></span>
			</td>
			<!-- <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td> -->
		</tr> 
	</tbody>
</table>

<select class="jsMaybeCardAction">
    <option value="remove">Delete</option>
    <option value="move">Move to Main Board</option>
    <option value="buy">Mark as Not Owned</option>
</select>   
<button data-bind="click: editMaybeCards">Go!</button> 
<table>
	<tbody data-bind="foreach: maybeCards">
		<tr>
			<td><input type="checkbox" class="maybeCardCheckbox" data-bind="value: id"></td>
			<td data-bind="text: name"></td>
			<td>
				<span data-bind="text: buy"></span>
			</td>
			<!-- <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td> -->
		</tr> 
	</tbody>
</table>

<script src="/scripts/autocomplete.js"></script>
<script src="/bulkData/cardsList.js"></script>
<script>
	autocomplete(document.getElementById("jsCardInput"), data);
</script>

<script src="/scripts/knockout-3.5.1.js"></script>
<script src="/scripts/deck-actions.js"></script>

<%- include('../partials/footer'); %>