<%- include('../partials/header'); %>

<div class="deckDetails">
    <p data-bind="text: name"></p>
    <p data-bind="text: format"></p>
    <div data-bind="style: { background: color}">Color</div>
    <img data-bind="attr: {src: image}">
</div>

<div class="deckDetailsEdit">
    <p>Deck Name: <input class="jsDeckName" data-bind="value: tempName" /></p>
    <p>Format: <select class="jsFormat" data-bind="value: tempFormat">
        <option value="EDH/Commander">EDH/Commander</option>
        <option value="Standard">Standard</option>
        <option value="Modern">Modern</option>
    </select></p>
    <p>Color: <input type="color" class="jsColor" data-bind="value: tempColor"></p>
    <p>Deck Image Url: <input class="jsImage" data-bind="value: tempImage" /></p>

    <button data-bind="click: editDetails">Save</button>
    <button data-bind="click: cancelEditDetails">Cancel</button>
</div>

<a href="<%= baseUrl %>/deck/massadd/<%= deckId %>">Mass Add</a>

<form class="autocomplete jsAddCardForm" autocomplete="OFF">
    <input id="jsCardInput" type="text" name="name" placeholder="Card Name" data-bind="event: { keyup: enteredName }">
    <button data-bind="click: addCard">Add Card</button>
</form>

<select class="jsCardAction">
    <option value="remove">Delete</option>
    <option value="move">Move to Maybeboard</option>
    <option value="cut">Mark as Cuttable</option>
    <option value="buy">Mark as Not Owned</option>
</select>   
<button data-bind="click: editCards">Go!</button> 
<table>
	<tbody data-bind="foreach: cards">
		<tr data-bind="class: id">
			<td><input type="checkbox" class="cardCheckbox" data-bind="value: id"></td>
			<td>
                <button data-bind="click: $root.increaseCard">+</button>
                <span data-bind="text: amount"></span>
                <button data-bind="click: $root.decreaseCard">-</button>
            </td>
			<td data-bind="text: name"></td>
			<td>
				<button data-bind="click: $root.changeCut, text: cut"></button>
				<button data-bind="click: $root.changeBuy, text: buy"></button>
			</td>
		</tr> 
	</tbody>
</table>

<select class="jsMaybeCardAction">
    <option value="remove">Delete</option>
    <option value="move">Move to Main Board</option>
    <option value="buy">Mark as Not Owned</option>
</select>   
<button data-bind="click: editMaybeCards">Go!</button> 
<table>
	<tbody data-bind="foreach: maybeCards">
		<tr data-bind="class: id">
			<td><input type="checkbox" class="maybeCardCheckbox" data-bind="value: id"></td>
            <td data-bind="text: name"></td>
            <td><button data-bind="click: $root.removeCard">-</button></td>
			<td>
				<button data-bind="click: $root.changeBuy, text: buy"></button>
			</td>
	</tbody>
</table>

<script src="/scripts/autocomplete.js"></script>
<script src="/bulkData/cardsList.js"></script>
<script>
	autocomplete(document.getElementById("jsCardInput"), data);
</script>

<script src="/scripts/knockout-3.5.1.js"></script>
<script src="/scripts/deck-actions.js"></script>

<%- include('../partials/footer'); %>