<%- include('../partials/header'); %>

<main>
    <div class="mass-add">
        <p class="warning">WARNING: THIS ACTION WILL ERASE ALL PREVIOUSLY-ADDED CARDS</p>
        <br>
        <p>From your deck's tappedout page, click "edit" and copy entire list to your clipboard</p>
        <p>Paste the list into the designated text box (be sure to include your main board and your maybeboard).</p>
        <br>
        <p>Flags can be left in place. You do not need to remove them.</p>
        <p>Lines that do not contain amount (eg. 1x) or a valid card name will be disregarded.</p>
    </div>

    <form class="mass-add-form" action="/deck/massadd/<%= deckId %>" method="POST">
        <label for="mainboard">
            <h3>Main Board:</h3>
        </label>
        <textarea name="mainboard"></textarea>
        <br>
        <label for="maybeboard">
            <h3>MaybeBoard:</h3>
        </label>
        <textarea name="maybeboard"></textarea>
        <input class="submit-btn" type="submit" value="Submit">
    </form>
</main>

<%- include('../partials/footer'); %>