<%- include('../partials/header'); %>

<main>
    <form class="new-deck-form" action="/deck/new" method="POST">
        <div>
            <label for="name">Deck Name: </label>
            <input type="text" name="name" placeholder="Deck Name">
        </div>
        <div>
            <label for="image">Featured Image URL: </label>
            <input type="text" name="image" placeholder="Featured Image Url">
        </div>
        <div>
            <label for="color">Featured Color: </label>
            <input type="color" name="color" value="#edc112">
        </div>
        <div>
            <label for="format">Format: </label>
            <select name="format">
                <option value="EDH/Commander">EDH/Commander</option>
                <option value="Standard">Standard</option>
                <option value="Modern">Modern</option>
            </select>
        </div>
        <input class="submit-btn" type="submit" value="Submit">
    </form>
</main>

<%- include('../partials/footer'); %>