$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-eyedropper: "\e90a";
$icon-image: "\e90d";
$icon-file-text: "\e926";
$icon-paste: "\e92d";
$icon-download: "\e933";
$icon-upload: "\e934";
$icon-cart: "\e93a";
$icon-dollar: "\e93b";
$icon-back: "\e96a";
$icon-spinner1: "\e97a";
$icon-spinner2: "\e97c";
$icon-spinner3: "\e97e";
$icon-spinner4: "\e983";
$icon-trash: "\e9ac";
$icon-hamburger: "\e9bd";
$icon-hamburger-up: "\e9c0";
$icon-warning: "\ea07";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-play: "\ea1c";
$icon-arrow1: "\ea34";
$icon-arrow2: "\ea3c";
$icon-scissors: "\ea5a";