@import 'global/_icons.scss';
@import 'global/_variables.scss';
@import 'global/_fonts.scss';
@import 'global/_mixins.scss';

@import 'components/_global.scss';
@import 'components/_header.scss';
@import 'components/_deck.scss';

.mass-add {
    .warning {
        @include icon($icon: $icon-warning, $use-before: true);
    }
}

.mass-add-form {
    textarea {
        height: 400px;
        width: 50%;
    }

    .submit-btn {
        background-color: $accent;
        padding: 8px 16px;
        font-size: 1.2em;
        display: block;
    }
}
