@font-face {
    font-family: "icon-font";
    src: url('../../fonts/icomoon.eot'),
         url('../../fonts/icomoon.woff'),
         url('../../fonts/icomoon.ttf'),
         url('../../fonts/icomoon.svg'); 
}
$icon-font: 'icon-font';