$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-eyedropper: "\e90a";
$icon-paste: "\e92d";
$icon-download: "\e933";
$icon-upload: "\e934";
$icon-cart: "\e93a";
$icon-back: "\e96a";
$icon-spinner1: "\e97a";
$icon-spinner2: "\e97c";
$icon-spinner3: "\e97e";
$icon-spinner4: "\e983";
$icon-trash: "\e9ac";
$icon-hamburger: "\e9bd";
$icon-hamburger-up: "\e9c0";
$icon-warning: "\ea07";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow: "\ea3c";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-unchecked: "\ea56";
$icon-scissors: "\ea5a";