$base-font-size: 16px;
$small-font-size: 14px;

$dark: #2C2B30;
$medium: #4F4F51;
$light: #D6D6D6;
$light-accent: #F2C4CE;
$accent: #F58F7C;

$break-tablet: 800px;
$break-small: 550px;

$base-font: 'Roboto', sans-serif;
$header-font: 'Roboto Condensed', sans-serif;